@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;800;900&display=swap');

:root {
  --font-family: 'Exo 2', sans-serif;
}

body {
    background: var(--color-bg);
    font-family: var(--font-family);
    font-weight: 100;
}

a {
    color: unset;
    text-decoration: none;
}

.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2px;
}

.table-name {
    flex-basis: 100%;
    position: sticky;
    top: 0;
}



.table-name h1{
    font-weight: 600;
    font-size: 48px;
    background-color: lightgray;
    padding: 15px 0 15px 15px;
}

.aside {
    width: 150px;
    padding: 4px;
    border: 1px solid lightgray;
    align-self: flex-start;
    position: sticky;
    top: 98px;
}

.aside button {
    width: 100%;
}

.main {
    order: 1;
    padding: 4px 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.main table {
    width: 100%;
    font-weight: 300;
    font-size: 18px;
}

.main td {
    padding: 2px 10px;
    cursor: pointer;
}

.main td button {
    padding: 2px 10px;
}
.main tbody tr:hover {
    background-color: rgb(220, 242, 253);
}

.nav-bar {
    display: flex;
    justify-content: center;
}

.menu-item {
    display: flex;
    position: sticky;
    top: 65px;
    flex-flow: column wrap;
    row-gap: 5px;
}

.menu-item input {
    padding: 4px 4px;
    font-size: 18px;
    border-radius: 4px;
}

.fisrtname-surname {
    display: flex;
    column-gap: 4px;
}

.pagination a{
    color: black;
    font-family: var(--font-family);
    font-weight: 300;
}